body {
margin:0px;
height:100vh;
font-family:"Open Sans",sans-serif;
background:Linear-gradient(to right, #00acee, #205172);
}

.center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.center a {
    padding:10px 20px;
    background:#eee;
    color:#111;
    font-size:15px;
    font-weight:600;
    font-decoration:none;
    border:radius 5px;
}

#Modal {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.75);
    display:none;
}

#Modal .Modal-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% -50%);
    width:400px;
    padding:10px 20px;
    background: #eee;
}

#Modal a.close-Modal {
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
    font-family:600;
    text-decoration:none;
}

#Modal :target {
    display:block;
}